Source: linux-qc2509
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               flex,
               bison,
               bc,
               libncurses-dev,
               libssl-dev,
               cpio,
               kmod,
               libyaml-dev,
               rsync,
               zstd,

Package: linux-image-radxa-airbox-q900
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image,
          linux-image-qcom (= 1:0.0.1-1)
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-qc2509,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa AIRbox Q900
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-airbox-q900
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers,
          linux-headers-qcom (= 1:0.0.1-1)
Depends: linux-headers-${binary:Version}-qc2509,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa AIRbox Q900
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-airbox-q900
Architecture: all
Section: kernel
Priority: optional
Provides: linux-libc-dev-qcom (= 1:0.0.1-1)
Depends: linux-libc-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa AIRbox Q900
 This is the meta-package for Linux libc-dev.
